/*
Template Name: Xoric - Responsive Bootstrap 4 Admin Dashboard
Author: Themesdesign
Version: 1.0.0
Website: https://themesdesign.in/
File: Main Css File
*/
/* TABLES OF CSS

1. General
2. Topbar
3. Page Header
4. Footer
5. Right Sidebar
6. Vertical
7. Horizontal Nav
8. Layouts
9. Waves
10. Avatar
11. Helper
12. Demos
13. Plugins
14. Authentication
15. Email
16. Coming Soon
17. Timeline
18. Extra Pages

*/
@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap");
/* 1. General */
/* 2. Topbar */
#page-topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1002;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); }

.navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 70px;
  padding: 0 calc(24px / 2) 0 0; }
  .navbar-header .dropdown.show .header-item {
    background-color: #f8f9fa; }

.navbar-brand-box {
  padding: 0 1.5rem;
  text-align: center;
  width: 250px; }

.logo {
  line-height: 70px; }
  .logo .logo-sm {
    display: none; }

.logo-light {
  display: none; }

.page-title-box .breadcrumb {
  background-color: transparent;
  padding: 0; }

/* Search */
.app-search {
  padding: calc(32px / 2) 0; }
  .app-search .form-control {
    border: none;
    height: 38px;
    padding-left: 40px;
    padding-right: 20px;
    background-color: #f4f8f9;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 30px; }
  .app-search span {
    position: absolute;
    z-index: 10;
    font-size: 16px;
    line-height: 38px;
    left: 13px;
    top: 0;
    color: #7c8a96; }

.megamenu-list li {
  position: relative;
  padding: 5px 0px; }
  .megamenu-list li a {
    color: #7c8a96; }

@media (max-width: 992px) {
  .navbar-brand-box {
    width: auto; }
  .logo span.logo-lg {
    display: none; }
  .logo span.logo-sm {
    display: inline-block; } }

.page-content {
  padding: 70px calc(24px / 2) 60px calc(24px / 2); }

.page-content-wrapper {
  margin-top: -40px; }

.header-item {
  height: 70px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #636e75;
  border: 0;
  border-radius: 0px; }
  .header-item:hover {
    color: #636e75; }

.header-profile-user {
  height: 36px;
  width: 36px;
  background-color: #edeff1;
  padding: 2px; }

.noti-icon i {
  font-size: 22px;
  color: #636e75; }

.noti-icon .badge {
  position: absolute;
  top: 12px; }

.notification-item .media {
  padding: 0.75rem 1rem; }
  .notification-item .media:hover {
    background-color: #f8f9fa; }

.notification-item .user-status {
  position: absolute;
  right: 0px;
  bottom: -4px;
  font-size: 10px; }
  .notification-item .user-status.online {
    color: #3051D3; }
  .notification-item .user-status.away {
    color: #e4cc37; }
  .notification-item .user-status.busy {
    color: #F06543; }

.dropdown-icon-item {
  display: block;
  border-radius: 3px;
  line-height: 34px;
  text-align: center;
  padding: 15px 0 9px;
  display: block;
  border: 1px solid transparent;
  color: #7c8a96; }
  .dropdown-icon-item img {
    height: 24px; }
  .dropdown-icon-item span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .dropdown-icon-item:hover {
    background-color: #f8f9fa; }

.fullscreen-enable [data-toggle="fullscreen"] .mdi-fullscreen::before {
  content: "\F294"; }

body[data-topbar="colored"] #page-topbar {
  background-color: #f96565;
  -webkit-box-shadow: none;
          box-shadow: none; }

body[data-topbar="colored"] .navbar-brand-box {
  background: #ffffff; }

body[data-topbar="colored"] .logo-dark {
  display: block; }

body[data-topbar="colored"] .logo-light {
  display: none; }

body[data-topbar="colored"] .navbar-header .waves-effect .waves-ripple {
  background: rgba(255, 255, 255, 0.2); }

body[data-topbar="colored"] .app-search .form-control {
  background-color: rgba(244, 248, 249, 0.07);
  color: #fff; }

body[data-topbar="colored"] .app-search span,
body[data-topbar="colored"] .app-search input.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }

body[data-topbar="colored"] .header-item {
  color: #e9ecef; }
  body[data-topbar="colored"] .header-item:hover {
    color: #e9ecef; }

body[data-topbar="colored"] .dropdown.show .header-item {
  background-color: #f96565; }

body[data-topbar="colored"] .noti-icon i {
  color: #e9ecef; }

@media (max-width: 380px) {
  .navbar-brand-box {
    display: none; } }

body[data-layout="horizontal"] .navbar-brand-box {
  width: auto; }

/* 3. Page Header */
.page-title-box {
  padding: 24px 12px 65px 12px;
  background-color: #2fa97c;
  margin: 0px -12px;
  background-image: url("../images/bg-pattern.png");
  background-size: cover; }
  .page-title-box .page-title {
    color: #fff;
    line-height: 30px;
    font-size: 20px; }
  .page-title-box .breadcrumb {
    background-color: transparent;
    padding: 0; }
    .page-title-box .breadcrumb .breadcrumb-item.active {
      color: rgba(255, 255, 255, 0.6); }

/* 4. Footer */
.footer {
  bottom: 0;
  padding: 20px calc(24px / 2);
  position: absolute;
  right: 0;
  color: #74788d;
  left: 250px;
  height: 60px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  background-color: #ffffff; }

@media (max-width: 992px) {
  .footer {
    left: 0; } }

.vertical-collpsed .footer {
  left: 70px; }

body[data-layout="horizontal"] .footer {
  left: 0 !important; }

/* 5. Right Sidebar */
.right-bar {
  background-color: #fff;
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  display: block;
  position: fixed;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  width: 280px;
  z-index: 9999;
  float: right !important;
  right: -290px;
  top: 0;
  bottom: 0; }
  .right-bar .rightbar-title {
    background-color: #2fa97c;
    padding: 27px 25px;
    color: #fff; }
  .right-bar .right-bar-toggle {
    background-color: #444c54;
    height: 24px;
    width: 24px;
    line-height: 27px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    margin-top: -4px; }
    .right-bar .right-bar-toggle:hover {
      background-color: #4b545c; }
  .right-bar .user-box {
    padding: 25px;
    text-align: center; }
    .right-bar .user-box .user-img {
      position: relative;
      height: 64px;
      width: 64px;
      margin: 0 auto 15px auto; }
      .right-bar .user-box .user-img .user-edit {
        position: absolute;
        right: -5px;
        bottom: 0px;
        height: 24px;
        width: 24px;
        background-color: #fff;
        line-height: 24px;
        border-radius: 50%;
        -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
                box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175); }
    .right-bar .user-box h5 {
      margin-bottom: 2px; }
      .right-bar .user-box h5 a {
        color: #343a40; }
  .right-bar .rightbar-nav-tab .nav-item .nav-link {
    background-color: #fff;
    border: none; }

.rightbar-overlay {
  background-color: rgba(52, 58, 64, 0.55);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 9998;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out; }

.right-bar-enabled .right-bar {
  right: 0; }

.right-bar-enabled .rightbar-overlay {
  display: block; }

@media (max-width: 767.98px) {
  .right-bar {
    overflow: auto; }
    .right-bar .slimscroll-menu {
      height: auto !important; } }

/* 6. Vertical */
.metismenu {
  margin: 0; }
  .metismenu li {
    display: block;
    width: 100%; }
  .metismenu .mm-collapse {
    display: none; }
    .metismenu .mm-collapse:not(.mm-show) {
      display: none; }
    .metismenu .mm-collapse.mm-show {
      display: block; }
  .metismenu .mm-collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: .35s;
            transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility; }

.vertical-menu {
  width: 250px;
  z-index: 1002;
  background: #ffffff;
  bottom: 0;
  margin-top: 0;
  position: fixed;
  top: 70px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); }

.main-content {
  margin-left: 250px;
  overflow: hidden; }
  .main-content .content {
    padding: 0 15px 10px 15px;
    margin-top: 70px; }

#sidebar-menu {
  padding: 10px 0 30px 0; }
  #sidebar-menu .mm-active > .has-arrow:after {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  #sidebar-menu .has-arrow:after {
    content: "\F140";
    font-family: 'Material Design Icons';
    display: block;
    float: right;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    font-size: 1rem; }
  #sidebar-menu ul li a {
    display: block;
    padding: .7rem 1.5rem;
    color: #7c8a96;
    position: relative;
    font-size: 15px;
    -webkit-transition: all .4s;
    transition: all .4s; }
    #sidebar-menu ul li a svg {
      min-width: 1.75rem; }
    #sidebar-menu ul li a .uim-svg {
      fill: #2fa97c !important; }
    #sidebar-menu ul li a:hover {
      color: #383c40; }
      #sidebar-menu ul li a:hover i {
        color: #383c40; }
  #sidebar-menu ul li .badge {
    margin-top: 4px; }
  #sidebar-menu ul li ul.sub-menu {
    padding: 0; }
    #sidebar-menu ul li ul.sub-menu li a {
      padding: .4rem 1.5rem .4rem 3.7rem;
      font-size: 13.5px;
      color: #7c8a96; }
    #sidebar-menu ul li ul.sub-menu li ul.sub-menu {
      padding: 0; }
      #sidebar-menu ul li ul.sub-menu li ul.sub-menu li a {
        padding: .4rem 1.5rem .4rem 4.5rem;
        font-size: 13.5px; }

.menu-title {
  padding: 12px 20px !important;
  letter-spacing: .05em;
  pointer-events: none;
  cursor: default;
  font-size: 11px;
  text-transform: uppercase;
  color: #7c8a96;
  font-weight: 600; }

.mm-active {
  color: #2fa97c !important; }
  .mm-active .active {
    color: #2fa97c !important; }

.sidebar-section {
  padding: .625rem 1.5rem; }

@media (max-width: 992px) {
  .vertical-menu {
    display: none; }
  .main-content {
    margin-left: 0 !important; }
  body.sidebar-enable .vertical-menu {
    display: block; } }

.vertical-collpsed {
  min-height: 1200px; }
  .vertical-collpsed .main-content {
    margin-left: 70px; }
  .vertical-collpsed .navbar-brand-box {
    width: 70px !important; }
  .vertical-collpsed .logo span.logo-lg {
    display: none; }
  .vertical-collpsed .logo span.logo-sm {
    display: block; }
  .vertical-collpsed .vertical-menu {
    position: absolute;
    width: 70px !important;
    z-index: 5; }
    .vertical-collpsed .vertical-menu .simplebar-mask,
    .vertical-collpsed .vertical-menu .simplebar-content-wrapper {
      overflow: visible !important; }
    .vertical-collpsed .vertical-menu .simplebar-scrollbar {
      display: none !important; }
    .vertical-collpsed .vertical-menu .simplebar-offset {
      bottom: 0 !important; }
    .vertical-collpsed .vertical-menu #sidebar-menu .menu-title,
    .vertical-collpsed .vertical-menu #sidebar-menu .badge,
    .vertical-collpsed .vertical-menu #sidebar-menu .collapse.in,
    .vertical-collpsed .vertical-menu #sidebar-menu .sidebar-section {
      display: none !important; }
    .vertical-collpsed .vertical-menu #sidebar-menu .nav.collapse {
      height: inherit !important; }
    .vertical-collpsed .vertical-menu #sidebar-menu .has-arrow:after {
      display: none; }
    .vertical-collpsed .vertical-menu #sidebar-menu > ul > li {
      position: relative;
      white-space: nowrap; }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a {
        padding: 15px 20px;
        min-height: 55px;
        -webkit-transition: none;
        transition: none; }
        .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:hover, .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:active, .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:focus {
          color: #383c40; }
        .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a svg {
          font-size: 1.25rem;
          margin-left: 2px; }
        .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a.mm-active {
          background: #f5f5f5; }
        .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a span {
          display: none;
          padding-left: 25px; }
          .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a span.uim-svg {
            padding-left: 0px;
            display: inline-block; }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
        position: relative;
        width: calc(190px + 70px);
        color: #2fa97c;
        background-color: #f5f5f5;
        -webkit-transition: none;
        transition: none; }
        .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a span {
          display: inline; }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul {
        display: block;
        left: 70px;
        position: absolute;
        width: 190px;
        height: auto !important;
        -webkit-box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1);
                box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1); }
        .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul ul {
          -webkit-box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1);
                  box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1); }
        .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a {
          -webkit-box-shadow: none;
                  box-shadow: none;
          padding: 8px 20px;
          position: relative;
          width: 190px;
          z-index: 6;
          color: #7c8a96; }
          .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a:hover {
            color: #383c40; }
    .vertical-collpsed .vertical-menu #sidebar-menu > ul ul {
      padding: 5px 0;
      z-index: 9999;
      display: none;
      background-color: white; }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul ul li:hover > ul {
        display: block;
        left: 190px;
        height: auto !important;
        margin-top: -36px;
        position: absolute;
        width: 190px; }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul ul li > a span.pull-right {
        position: absolute;
        right: 20px;
        top: 12px;
        -webkit-transform: rotate(270deg);
                transform: rotate(270deg); }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul ul li.active a {
        color: #f8f9fa; }

body[data-sidebar="dark"] .navbar-brand-box {
  background: #27333a; }

body[data-sidebar="dark"] .logo-dark {
  display: none; }

body[data-sidebar="dark"] .logo-light {
  display: block; }

body[data-sidebar="dark"] .vertical-menu {
  background: #27333a; }

body[data-sidebar="dark"] #sidebar-menu ul li a {
  color: #7b919e; }
  body[data-sidebar="dark"] #sidebar-menu ul li a:hover {
    color: #d7e4ec; }
  body[data-sidebar="dark"] #sidebar-menu ul li a .icons-sm .uim-svg {
    fill: #d7e4ec !important; }

body[data-sidebar="dark"] #sidebar-menu ul li ul.sub-menu li a {
  color: #7b919e; }
  body[data-sidebar="dark"] #sidebar-menu ul li ul.sub-menu li a:hover {
    color: #d7e4ec; }

body[data-sidebar="dark"].vertical-collpsed {
  min-height: 1200px; }
  body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
    background: #2b3840;
    color: #d7e4ec; }
  body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a {
    color: #7b919e; }
    body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a:hover {
      color: #d7e4ec; }
  body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a.mm-active {
    background: #2b3840; }
  body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu > ul ul {
    background-color: #27333a; }
  body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu ul li.mm-active .active {
    color: #d7e4ec !important; }

body[data-sidebar="dark"] .mm-active {
  color: #d7e4ec !important; }
  body[data-sidebar="dark"] .mm-active .active {
    color: #d7e4ec !important; }

body[data-sidebar="dark"] .menu-title {
  color: #7b919e; }

body[data-sidebar="dark"] .page-title-box {
  background-color: rgba(47, 169, 124, 0.1); }
  body[data-sidebar="dark"] .page-title-box .page-title {
    color: #495057; }
  body[data-sidebar="dark"] .page-title-box .breadcrumb-item > a {
    color: #495057; }
  body[data-sidebar="dark"] .page-title-box .breadcrumb-item.active {
    color: #7c8a96; }

body[data-sidebar-size="small"] .navbar-brand-box {
  width: 160px; }

body[data-sidebar-size="small"] .vertical-menu {
  width: 160px;
  text-align: center; }

body[data-sidebar-size="small"] .main-content {
  margin-left: 160px; }

body[data-sidebar-size="small"] .footer {
  left: 160px; }

body[data-sidebar-size="small"] .has-arrow:after,
body[data-sidebar-size="small"] .badge {
  display: none !important; }

body[data-sidebar-size="small"] #sidebar-menu ul li.menu-title {
  background-color: #fafafa; }

body[data-sidebar-size="small"] #sidebar-menu ul li a .icons-sm {
  display: block !important; }

body[data-sidebar-size="small"] #sidebar-menu ul li ul.sub-menu li a {
  padding-left: 1.5rem; }

body[data-sidebar-size="small"].vertical-collpsed .main-content {
  margin-left: 70px; }

body[data-sidebar-size="small"].vertical-collpsed .vertical-menu #sidebar-menu {
  text-align: left; }
  body[data-sidebar-size="small"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a .icons-sm {
    display: inline-block !important; }

body[data-sidebar-size="small"].vertical-collpsed .footer {
  left: 70px; }

body[data-sidebar="colored"] .navbar-brand-box {
  background-color: #2fa97c; }

body[data-sidebar="colored"] .logo-dark {
  display: none; }

body[data-sidebar="colored"] .logo-light {
  display: block; }

body[data-sidebar="colored"] .vertical-menu {
  background-color: #2fa97c; }

body[data-sidebar="colored"] .menu-title {
  color: rgba(255, 255, 255, 0.4); }

body[data-sidebar="colored"] #sidebar-menu ul li a {
  color: rgba(255, 255, 255, 0.6); }
  body[data-sidebar="colored"] #sidebar-menu ul li a .uim-svg {
    fill: #fff !important; }

body[data-sidebar="colored"] #sidebar-menu ul li .mm-active {
  color: #fff !important; }
  body[data-sidebar="colored"] #sidebar-menu ul li .mm-active .active {
    color: #fff !important; }

body[data-sidebar="colored"] #sidebar-menu ul li ul.sub-menu li a {
  color: rgba(255, 255, 255, 0.4); }

body[data-sidebar="colored"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
  background-color: #31b182;
  color: #fff; }

body[data-sidebar="colored"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a.mm-active {
  background-color: #31b182; }

body[data-sidebar="colored"].vertical-collpsed .vertical-menu #sidebar-menu ul li .mm-active .active {
  color: #2fa97c !important; }

body[data-sidebar="colored"] .page-title-box {
  background-color: rgba(47, 169, 124, 0.1); }
  body[data-sidebar="colored"] .page-title-box .page-title {
    color: #495057; }
  body[data-sidebar="colored"] .page-title-box .breadcrumb-item > a {
    color: #495057; }
  body[data-sidebar="colored"] .page-title-box .breadcrumb-item.active {
    color: #7c8a96; }

/* 7. Horizontal Nav*/
body[data-layout="horizontal"] .navbar-brand-box {
  float: left;
  background-color: transparent;
  padding-left: 0px;
  padding-right: 40px; }

body[data-layout="horizontal"] .logo-dark {
  display: block; }

body[data-layout="horizontal"] .logo-light {
  display: none; }

body[data-layout="horizontal"] .navbar-header {
  display: inherit;
  padding: 0 calc(24px / 2); }
  @media (min-width: 992px) {
    body[data-layout="horizontal"] .navbar-header {
      padding: 0; } }

body[data-layout="horizontal"] .main-content {
  margin-left: 0 !important; }

.topnav .topnav-menu {
  margin: 0;
  padding: 0; }

.topnav .navbar-nav .nav-link {
  font-size: 14.7px;
  position: relative;
  padding: 0rem 1.3rem;
  color: #7c8a96;
  line-height: 70px; }
  .topnav .navbar-nav .nav-link i {
    font-size: 16px; }
  .topnav .navbar-nav .nav-link:focus, .topnav .navbar-nav .nav-link:hover {
    color: #2fa97c;
    background-color: transparent; }

.topnav .navbar-nav .dropdown-item {
  color: #7c8a96; }
  .topnav .navbar-nav .dropdown-item.active, .topnav .navbar-nav .dropdown-item:hover {
    color: #2fa97c;
    background-color: transparent; }

.topnav .navbar-nav .nav-item .nav-link.active {
  color: #2fa97c; }

.topnav .navbar-nav .dropdown.active > a {
  color: #2fa97c;
  background-color: transparent; }

.topnav .navbar-nav .dropdown-menu {
  padding: 0px; }

@media (min-width: 1200px) {
  body[data-layout="horizontal"] .container-fluid {
    max-width: 85%; } }

@media (min-width: 992px) {
  .topnav .dropdown-item {
    padding: .7rem 1.5rem;
    min-width: 200px; }
  .topnav .dropdown .dropdown-menu {
    margin-top: 0; }
    .topnav .dropdown .dropdown-menu .arrow-down::after {
      right: 15px;
      -webkit-transform: rotate(-135deg) translateY(-50%);
              transform: rotate(-135deg) translateY(-50%);
      position: absolute; }
    .topnav .dropdown .dropdown-menu .dropdown .dropdown-menu {
      position: absolute;
      top: 0;
      left: 100%;
      display: none; }
  .topnav .dropdown:hover > .dropdown-menu {
    display: block; }
  .topnav .dropdown:hover > .dropdown-menu > .dropdown:hover > .dropdown-menu {
    display: block; }
  .navbar-toggle {
    display: none; } }

.arrow-down {
  display: inline-block; }
  .arrow-down:after {
    border-color: initial;
    border-style: solid;
    border-width: 0 0 1px 1px;
    content: "";
    height: .4em;
    display: inline-block;
    right: 5px;
    top: 50%;
    margin-left: 10px;
    -webkit-transform: rotate(-45deg) translateY(-50%);
            transform: rotate(-45deg) translateY(-50%);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    width: .4em; }

@media (max-width: 1199.98px) {
  .topnav-menu .navbar-nav li:last-of-type .dropdown .dropdown-menu {
    right: 100%;
    left: auto; } }

@media (max-width: 991.98px) {
  .topnav {
    background: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    max-height: 360px;
    overflow-y: auto;
    padding: 0; }
    .topnav .navbar-nav .nav-link {
      padding: 0.75rem 1.1rem;
      line-height: inherit; }
    .topnav .dropdown .dropdown-menu {
      background-color: transparent;
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      padding-left: 15px; }
    .topnav .dropdown .dropdown-item {
      position: relative;
      background-color: transparent; }
      .topnav .dropdown .dropdown-item.active, .topnav .dropdown .dropdown-item:active {
        color: #2fa97c; }
    .topnav .arrow-down::after {
      right: 15px;
      position: absolute; } }

body[data-layout="horizontal"][data-topbar="colored"] .logo-dark {
  display: none; }

body[data-layout="horizontal"][data-topbar="colored"] .logo-light {
  display: block; }

@media (min-width: 992px) {
  body[data-layout="horizontal"][data-topbar="colored"] .topnav .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5); }
    body[data-layout="horizontal"][data-topbar="colored"] .topnav .navbar-nav .nav-link:focus, body[data-layout="horizontal"][data-topbar="colored"] .topnav .navbar-nav .nav-link:hover {
      color: rgba(255, 255, 255, 0.9); }
    body[data-layout="horizontal"][data-topbar="colored"] .topnav .navbar-nav .nav-link.active {
      color: rgba(255, 255, 255, 0.9); }
  body[data-layout="horizontal"][data-topbar="colored"] .topnav .navbar-nav > .dropdown.active > a {
    color: rgba(255, 255, 255, 0.9) !important; } }

body[data-layout="horizontal"][data-topbar="dark"] #page-topbar {
  background-color: #27333a; }

body[data-layout="horizontal"][data-topbar="dark"] .logo-light {
  display: block; }

body[data-layout="horizontal"][data-topbar="dark"] .logo-dark {
  display: none; }

body[data-layout="horizontal"][data-topbar="dark"] .header-item {
  color: #e9ecef; }
  body[data-layout="horizontal"][data-topbar="dark"] .header-item:hover {
    color: #e9ecef; }

body[data-layout="horizontal"][data-topbar="dark"] .dropdown.show .header-item {
  background-color: #27333a; }

body[data-layout="horizontal"][data-topbar="dark"] .noti-icon i {
  color: #e9ecef; }

body[data-layout="horizontal"][data-topbar="dark"] .navbar-header .waves-effect .waves-ripple {
  background: rgba(255, 255, 255, 0.2); }

body[data-layout="horizontal"][data-topbar="dark"] .page-title-box {
  background-color: rgba(47, 169, 124, 0.1); }
  body[data-layout="horizontal"][data-topbar="dark"] .page-title-box .page-title {
    color: #495057; }
  body[data-layout="horizontal"][data-topbar="dark"] .page-title-box .breadcrumb-item > a {
    color: #495057; }
  body[data-layout="horizontal"][data-topbar="dark"] .page-title-box .breadcrumb-item.active {
    color: #7c8a96; }

@media (min-width: 992px) {
  body[data-layout="horizontal"][data-topbar="dark"] .topnav .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5); }
    body[data-layout="horizontal"][data-topbar="dark"] .topnav .navbar-nav .nav-link:focus, body[data-layout="horizontal"][data-topbar="dark"] .topnav .navbar-nav .nav-link:hover {
      color: rgba(255, 255, 255, 0.9); }
    body[data-layout="horizontal"][data-topbar="dark"] .topnav .navbar-nav .nav-link.active {
      color: rgba(255, 255, 255, 0.9); }
  body[data-layout="horizontal"][data-topbar="dark"] .topnav .navbar-nav > .dropdown.active > a {
    color: rgba(255, 255, 255, 0.9) !important; } }

/* 8. Layouts */
body[data-layout-size="boxed"] {
  background-color: #e7f0f2; }
  body[data-layout-size="boxed"] #layout-wrapper {
    background-color: #f4f8f9;
    max-width: 1300px;
    margin: 0 auto;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); }
  body[data-layout-size="boxed"] #page-topbar {
    max-width: 1300px;
    margin: 0 auto; }
  body[data-layout-size="boxed"] .footer {
    margin: 0 auto;
    max-width: calc(1300px - 250px); }
  body[data-layout-size="boxed"].vertical-collpsed .footer {
    max-width: calc(1300px - 70px); }

body[data-layout="horizontal"][data-layout-size="boxed"] {
  background-color: #f4f8f9; }
  body[data-layout="horizontal"][data-layout-size="boxed"] #page-topbar, body[data-layout="horizontal"][data-layout-size="boxed"] #layout-wrapper, body[data-layout="horizontal"][data-layout-size="boxed"] .footer {
    max-width: 100%; }
  body[data-layout="horizontal"][data-layout-size="boxed"] #layout-wrapper {
    -webkit-box-shadow: none;
            box-shadow: none; }
  body[data-layout="horizontal"][data-layout-size="boxed"] .container-fluid, body[data-layout="horizontal"][data-layout-size="boxed"] .navbar-header {
    max-width: 1300px; }

/* 9. Waves */
/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none; }

.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%); }

.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2); }

.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4); }

.waves-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); }

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1; }

.waves-button {
  padding: 0.85em 1.1em;
  border-radius: 0.2em; }

.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em; }

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom; }

.waves-input-wrapper.waves-button {
  padding: 0; }

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1; }

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%; }

.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms;
  transition: all 300ms; }

.waves-float:active {
  -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3); }

.waves-block {
  display: block; }

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.4); }

.waves-effect.waves-primary .waves-ripple {
  background-color: rgba(47, 169, 124, 0.4); }

.waves-effect.waves-success .waves-ripple {
  background-color: rgba(48, 81, 211, 0.4); }

.waves-effect.waves-info .waves-ripple {
  background-color: rgba(0, 167, 225, 0.4); }

.waves-effect.waves-warning .waves-ripple {
  background-color: rgba(228, 204, 55, 0.4); }

.waves-effect.waves-danger .waves-ripple {
  background-color: rgba(240, 101, 67, 0.4); }

/* 10. Avatar */
.avatar-xs {
  height: 2rem;
  width: 2rem; }

.avatar-sm {
  height: 3rem;
  width: 3rem; }

.avatar-md {
  height: 4.5rem;
  width: 4.5rem; }

.avatar-lg {
  height: 6rem;
  width: 6rem; }

.avatar-xl {
  height: 7.5rem;
  width: 7.5rem; }

.avatar-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2fa97c;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

/* 11. Helper */
.font-size-11 {
  font-size: 11px !important; }

.font-size-12 {
  font-size: 12px !important; }

.font-size-13 {
  font-size: 13px !important; }

.font-size-14 {
  font-size: 14px !important; }

.font-size-15 {
  font-size: 15px !important; }

.font-size-16 {
  font-size: 16px !important; }

.font-size-17 {
  font-size: 17px !important; }

.font-size-18 {
  font-size: 18px !important; }

.font-size-20 {
  font-size: 20px !important; }

.font-size-22 {
  font-size: 22px !important; }

.font-size-24 {
  font-size: 24px !important; }

.font-weight-medium {
  font-weight: 500; }

.font-weight-semibold {
  font-weight: 600; }

.social-list-item {
  height: 2rem;
  width: 2rem;
  line-height: calc(2rem - 2px);
  display: block;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  color: #adb5bd;
  text-align: center; }

.w-xs {
  min-width: 80px; }

.w-sm {
  min-width: 95px; }

.w-md {
  min-width: 110px; }

.w-lg {
  min-width: 140px; }

.w-xl {
  min-width: 160px; }

.item-hovered:hover {
  background-color: #f8f9fa; }

.search-bar .form-control {
  border: none;
  height: calc(1.5em + 0.94rem + 2px);
  padding-left: 40px;
  padding-right: 20px;
  background-color: #f4f8f9;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 30px; }

.search-bar span {
  position: absolute;
  z-index: 10;
  font-size: 16px;
  line-height: calc(1.5em + 0.94rem + 2px);
  left: 13px;
  top: 0;
  color: #7c8a96; }

/* 12. Demos */
.button-items {
  margin-left: -8px;
  margin-bottom: -12px; }
  .button-items .btn {
    margin-bottom: 12px;
    margin-left: 8px; }

.mfp-popup-form {
  max-width: 1140px; }

.social-icon .social-list-item {
  position: relative;
  color: #adb5bd; }
  .social-icon .social-list-item .badge {
    position: absolute;
    top: -10px;
    right: -4px; }

.bs-example-modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block; }

.icon-demo-content {
  text-align: center;
  color: #adb5bd; }
  .icon-demo-content i, .icon-demo-content .uim-svg {
    display: block;
    font-size: 24px;
    color: #7c8a96;
    width: 48px;
    height: 48px;
    line-height: 46px;
    margin: 0px auto;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #eff2f7;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
  .icon-demo-content .col-lg-4 {
    margin-top: 24px; }
    .icon-demo-content .col-lg-4:hover i {
      background-color: #2fa97c;
      color: #fff; }
    .icon-demo-content .col-lg-4:hover .uim-svg {
      background-color: #2fa97c;
      fill: #fff !important; }

.uim-svg {
  fill: #2fa97c !important; }
  .uim-svg svg {
    width: 24px;
    height: 24px;
    vertical-align: inherit; }

.uim-icon-primary .uim-svg {
  fill: #2fa97c !important; }

.uim-icon-secondary .uim-svg {
  fill: #7c8a96 !important; }

.uim-icon-success .uim-svg {
  fill: #3051D3 !important; }

.uim-icon-info .uim-svg {
  fill: #00A7E1 !important; }

.uim-icon-warning .uim-svg {
  fill: #e4cc37 !important; }

.uim-icon-danger .uim-svg {
  fill: #F06543 !important; }

.uim-icon-light .uim-svg {
  fill: #eff2f7 !important; }

.uim-icon-dark .uim-svg {
  fill: #343a40 !important; }

.icons-sm svg {
  height: 18px;
  width: 18px; }

.icons-md svg {
  height: 32px;
  width: 32px; }

.icons-lg svg {
  height: 40px;
  width: 40px; }

.icons-xl svg {
  height: 48px;
  width: 48px; }

.grid-structure .grid-container {
  background-color: #f8f9fa;
  margin-top: 10px;
  font-size: .8rem;
  font-weight: 500;
  padding: 10px 20px; }

/* 13. Plugins */
[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit; }

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0; }

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch; }

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  visibility: visible;
  overflow: auto;
  /* Scroll on this element otherwise element can't have a padding applied properly */
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  scrollbar-width: none; }

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none; }

.simplebar-content:before,
.simplebar-content:after {
  content: ' ';
  display: table; }

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none; }

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0; }

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1; }

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden; }

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none; }

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all; }

.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 4px;
  min-height: 10px; }

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: #a2adb7;
  border-radius: 7px;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  -webkit-transition: opacity 0s linear;
  transition: opacity 0s linear; }

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px; }

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px; }

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px; }

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px; }

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto; }

/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0; }

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll; }

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none; }

.custom-scroll {
  height: 100%; }

.fc-toolbar h2 {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase; }

.fc th.fc-widget-header {
  background: #edeff1;
  font-size: 13px;
  line-height: 20px;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 600; }

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #edeff1; }

.fc-unthemed td.fc-today {
  background: #edeff1; }

.fc-button {
  background: #fff;
  border-color: #eff2f7;
  color: #495057;
  text-transform: capitalize;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 6px 12px !important;
  height: auto !important; }

.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  background-color: #2fa97c;
  color: #fff;
  text-shadow: none; }

.fc-event {
  border-radius: 4px;
  border: none;
  cursor: move;
  font-size: 0.8125rem;
  margin: 5px 7px;
  padding: 5px 5px;
  text-align: center; }

.fc-event, .fc-event-dot {
  background-color: #2fa97c; }

.fc-event .fc-content {
  color: #fff; }

.alertify .ajs-dialog {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); }

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok {
  color: #2fa97c; }

.alertify-notifier .ajs-message {
  background-color: #2fa97c;
  border-color: #2fa97c;
  color: #fff;
  text-shadow: none !important; }
  .alertify-notifier .ajs-message.ajs-success {
    background-color: #3051D3;
    border-color: #3051D3; }
  .alertify-notifier .ajs-message.ajs-error {
    background-color: #F06543;
    border-color: #F06543; }
  .alertify-notifier .ajs-message.ajs-warning {
    background-color: #e4cc37;
    border-color: #e4cc37; }

.rating-symbol-background, .rating-symbol-foreground {
  font-size: 24px; }

.rating-symbol-foreground {
  top: 0px; }

.dd-list .dd-item .dd-handle {
  background: #edeff1;
  border: none;
  padding: 8px 16px;
  color: #7c8a96;
  height: auto;
  font-weight: 500;
  border-radius: 3px; }
  .dd-list .dd-item .dd-handle:hover {
    color: #2fa97c; }

.dd-list .dd-item button {
  height: 36px;
  font-size: 17px;
  margin: 0;
  color: #7c8a96;
  width: 36px; }

.dd-list .dd3-item {
  margin: 5px 0; }
  .dd-list .dd3-item .dd-item button {
    width: 36px;
    height: 36px; }

.dd-list .dd3-handle {
  margin: 0;
  height: 36px !important;
  float: left; }

.dd-list .dd3-content {
  height: auto;
  border: none;
  padding: 8px 16px 8px 46px;
  background: #f8f9fa;
  font-weight: 600; }
  .dd-list .dd3-content:hover {
    color: #2fa97c; }

.dd-list .dd3-handle:before {
  content: "\F35C";
  font-family: "Material Design Icons";
  color: #adb5bd; }

.dd-empty,
.dd-placeholder {
  background: rgba(237, 239, 241, 0.2);
  border-color: #edeff1; }

.dd-dragel .dd-handle {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); }

.irs--round .irs-bar, .irs--round .irs-to, .irs--round .irs-from, .irs--round .irs-single {
  background: #2fa97c !important;
  font-size: 11px; }

.irs--round .irs-to, .irs--round .irs-from, .irs--round .irs-single {
  top: 5px; }
  .irs--round .irs-to:before, .irs--round .irs-from:before, .irs--round .irs-single:before {
    display: none; }

.irs--round .irs-line {
  background: #edeff1;
  border-color: #edeff1; }

.irs--round .irs-grid-text {
  font-size: 11px;
  color: #ced4da; }

.irs--round .irs-min, .irs--round .irs-max {
  color: #adb5bd;
  background: #edeff1;
  font-size: 11px; }

.irs--round .irs-handle {
  border: 2px solid #2fa97c;
  width: 12px;
  height: 12px;
  top: 31px;
  background-color: #fff !important; }

.swal2-container .swal2-title {
  font-size: 22px;
  font-weight: 500; }

.swal2-icon.swal2-question {
  border-color: #00A7E1;
  color: #00A7E1; }

.swal2-icon.swal2-success [class^=swal2-success-line] {
  background-color: #3051D3; }

.swal2-icon.swal2-success .swal2-success-ring {
  border-color: rgba(48, 81, 211, 0.3); }

.swal2-icon.swal2-warning {
  border-color: #e4cc37;
  color: #e4cc37; }

.swal2-content {
  font-size: 16px; }

.swal2-styled:focus {
  -webkit-box-shadow: none;
          box-shadow: none; }

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step {
  background: #2fa97c; }
  .swal2-progress-steps .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step, .swal2-progress-steps .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step-line {
    background: rgba(47, 169, 124, 0.3); }

.gmaps, .gmaps-panaroma {
  height: 300px;
  background: #f8f9fa;
  border-radius: 3px; }

.gmaps-overlay {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  background: #2fa97c;
  border-radius: 4px;
  padding: 10px 20px; }

.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute; }
  .gmaps-overlay_arrow.above {
    bottom: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #2fa97c; }
  .gmaps-overlay_arrow.below {
    top: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #2fa97c; }

.jqvmap-label {
  background-color: #343a40;
  color: #eff2f7;
  font-size: 0.91rem;
  padding: 0.3rem 0.6rem; }

.jqvmap-zoomin, .jqvmap-zoomout {
  width: 24px;
  height: 24px;
  line-height: 18px; }

.jqvmap-zoomout {
  top: 40px; }

.error {
  color: #F06543; }

.parsley-error {
  border-color: #F06543; }

.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0; }
  .parsley-errors-list.filled {
    display: block; }
  .parsley-errors-list > li {
    font-size: 12px;
    list-style: none;
    color: #F06543;
    margin-top: 5px; }

.sp-replacer {
  background-color: #fff;
  border-color: #ced4da;
  color: #343a40; }
  .sp-replacer:hover, .sp-replacer .sp-active {
    border-color: #ced4da;
    color: #343a40; }

.sp-preview {
  border-color: #ced4da; }

.sp-container {
  background-color: #edeff1;
  border-color: #eff2f7; }
  .sp-container button {
    background-color: #edeff1;
    color: #343a40;
    background-image: none !important;
    padding: .25rem .5rem;
    font-size: .79625rem;
    line-height: 1.5; }
    .sp-container button:hover {
      background-color: #e2e5e8; }

.sp-picker-container {
  border-color: #eff2f7; }

.sp-input {
  background-color: #fff;
  border-color: #ced4da;
  color: #495057;
  outline: 0; }

.selectize-input {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: #ced4da;
  background-color: #fff; }
  .selectize-input > div {
    margin-right: 7px !important;
    border-radius: 4px; }
  .selectize-input:focus {
    outline: 0; }

.selectize-control.multi .selectize-input > div {
  background-color: #2fa97c;
  color: #fff; }

.selectize-dropdown, .selectize-input, .selectize-input input {
  color: #505d69; }

.selectize-dropdown {
  background-color: #fff;
  border-color: #e2e6e9; }
  .selectize-dropdown .optgroup-header {
    background-color: #edeff1;
    color: #505d69; }
  .selectize-dropdown .active {
    background-color: #edeff1;
    color: #7c8a96; }

.selectize-input.full {
  background-color: #fff; }

.selectize-input.dropdown-active::before {
  background-color: #edeff1; }

.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background-color: #fff; }

.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  -webkit-box-shadow: none;
          box-shadow: none; }

.datepicker {
  border: 1px solid #e2e6e9;
  z-index: 999 !important;
  background-color: #fff;
  color: #505d69; }

.datepicker-inline .datepicker {
  border-color: #e2e6e9; }

.datepicker--nav {
  background-color: rgba(47, 169, 124, 0.2);
  border-color: #eff2f7; }

.datepicker--pointer {
  background: #f6f8fa;
  border-top-color: #eff2f7;
  border-right-color: #eff2f7; }

.datepicker--time {
  border-color: #eff2f7; }

.datepicker--time-row {
  background: -webkit-gradient(linear, left top, right top, from(#edeff1), to(#edeff1)) left 50%/100% 1px no-repeat;
  background: linear-gradient(to right, #edeff1, #edeff1) left 50%/100% 1px no-repeat; }

.datepicker--day-name {
  color: #2fa97c; }

.datepicker--cell.-current- {
  color: #2fa97c; }

.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current- {
  background-color: #2fa97c !important; }

.datepicker--cell.-focus- {
  background-color: rgba(47, 169, 124, 0.1); }

.datepicker--cell.-in-range- {
  background-color: #edeff1;
  color: #7c8a96; }

.datepicker--nav-action:hover, .datepicker--nav-title:hover {
  background-color: rgba(47, 169, 124, 0.07); }

.datepicker--time-current-hours:after, .datepicker--time-current-minutes:after {
  background-color: rgba(47, 169, 124, 0.1); }

.tox-tinymce {
  border: 1px solid #ced4da !important; }

.tox .tox-menubar, .tox .tox-edit-area__iframe, .tox .tox-statusbar {
  background-color: #fff !important; }

.tox .tox-menubar {
  background: none !important;
  border-bottom: 1px solid #ced4da; }

.tox .tox-mbtn {
  color: #495057 !important; }
  .tox .tox-mbtn:hover:not(:disabled):not(.tox-mbtn--active) {
    background-color: #edeff1 !important; }

.tox .tox-tbtn:hover {
  background-color: #edeff1 !important; }

.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
  background-color: #fff !important;
  background: none !important;
  border-bottom: 1px solid #ced4da; }

.tox .tox-tbtn {
  color: #495057 !important; }
  .tox .tox-tbtn svg {
    fill: #495057 !important; }

.tox .tox-edit-area__iframe,
.tox .tox-toolbar-overlord {
  background-color: #fff !important; }

.tox .tox-statusbar a, .tox .tox-statusbar__path-item, .tox .tox-statusbar__wordcount {
  color: #495057 !important; }

.tox .tox-split-button:hover {
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }

.tox .tox-tbtn--enabled,
.tox .tox-tbtn--enabled:hover {
  background-color: #edeff1 !important; }

.tox .tox-statusbar {
  border-top: 1px solid #ced4da !important; }

.tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type) {
  border-right: 1px solid #ced4da !important; }

.note-editor.note-frame {
  border: 1px solid #ced4da;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0; }
  .note-editor.note-frame .note-statusbar {
    background-color: #edeff1;
    border-top: 1px solid #eff2f7; }
  .note-editor.note-frame .note-editing-area .note-editable, .note-editor.note-frame .note-editing-area .note-codable {
    border: none;
    color: #adb5bd;
    background-color: transparent; }

.note-btn-group .note-btn {
  background-color: #edeff1 !important;
  border-color: #edeff1 !important; }

.note-status-output {
  display: none; }

.note-editable p:last-of-type {
  margin-bottom: 0; }

.note-popover .popover-content .note-color .dropdown-menu,
.card-header.note-toolbar .note-color .dropdown-menu {
  min-width: 344px; }

.note-popover {
  border-color: #edeff1; }

.note-popover .popover-content,
.card-header.note-toolbar {
  background-color: #edeff1; }

.note-color-all .note-btn.dropdown-toggle {
  width: 30px !important; }
  .note-color-all .note-btn.dropdown-toggle:before {
    content: "\F35D";
    font: normal normal normal 24px/1 "Material Design Icons";
    position: absolute;
    left: 2px;
    top: 3px; }

.note-color-all .dropdown-menu {
  padding: 0; }

.note-editable {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.47rem 0.75rem; }
  .note-editable p:last-of-type {
    margin-bottom: 0; }

.cke_top, .cke_bottom {
  background-color: #fff !important; }

.cke_chrome, .cke_top {
  border-color: #ced4da !important; }

/* Dropzone */
.dropzone {
  min-height: 230px;
  border: 2px dashed #ced4da;
  background: #fff;
  border-radius: 6px; }
  .dropzone .dz-message {
    font-size: 24px; }

.table-rep-plugin .btn-toolbar {
  display: block; }

.table-rep-plugin .table-responsive {
  border: none !important; }

.table-rep-plugin .btn-group .btn-default {
  background-color: #7c8a96;
  color: #fff;
  border: 1px solid #7c8a96; }
  .table-rep-plugin .btn-group .btn-default.btn-primary {
    background-color: #2fa97c;
    border-color: #2fa97c;
    color: #fff;
    -webkit-box-shadow: 0 0 0 2px rgba(47, 169, 124, 0.5);
            box-shadow: 0 0 0 2px rgba(47, 169, 124, 0.5); }

.table-rep-plugin .btn-group.pull-right {
  float: right; }
  .table-rep-plugin .btn-group.pull-right .dropdown-menu {
    right: 0;
    -webkit-transform: none !important;
            transform: none !important;
    top: 100% !important; }

.table-rep-plugin tbody th {
  font-size: 14px;
  font-weight: normal; }

.table-rep-plugin table.focus-on tbody tr.focused th, .table-rep-plugin table.focus-on tbody tr.focused td, .table-rep-plugin table.focus-on tfoot tr.focused th, .table-rep-plugin table.focus-on tfoot tr.focused td {
  background-color: #2fa97c;
  color: #fff; }

.table-rep-plugin .checkbox-row {
  padding-left: 40px;
  color: #7c8a96 !important; }
  .table-rep-plugin .checkbox-row:hover, .table-rep-plugin .checkbox-row:active {
    background-color: #f8f9fa !important; }
  .table-rep-plugin .checkbox-row label {
    display: inline-block;
    padding-left: 5px;
    position: relative; }
    .table-rep-plugin .checkbox-row label::before {
      -o-transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
      background-color: #eff2f7;
      border-radius: 3px;
      border: 1px solid #edeff1;
      content: "";
      display: inline-block;
      height: 17px;
      left: 0;
      margin-left: -20px;
      position: absolute;
      transition: 0.3s ease-in-out;
      width: 17px;
      outline: none !important; }
    .table-rep-plugin .checkbox-row label::after {
      color: #eff2f7;
      display: inline-block;
      font-size: 11px;
      height: 16px;
      left: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      position: absolute;
      top: -1px;
      width: 16px; }
  .table-rep-plugin .checkbox-row input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: none !important; }
    .table-rep-plugin .checkbox-row input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:focus + label::before {
    outline-offset: -2px;
    outline: none; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:disabled + label::before {
    background-color: #f8f9fa;
    cursor: not-allowed; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::before {
    background-color: #2fa97c;
    border-color: #2fa97c; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
    color: #fff; }

.table-rep-plugin .fixed-solution .sticky-table-header {
  top: 70px !important;
  background-color: #2fa97c;
  border-color: #2fa97c; }
  .table-rep-plugin .fixed-solution .sticky-table-header table {
    color: #fff; }

.table-editable .editable-input {
  display: inline-block; }
  .table-editable .editable-input .form-control {
    height: 2rem; }

.table-editable a.editable {
  color: #505d69; }

.table-editable .editable-buttons .btn.btn-sm {
  font-size: 12px; }

.table-editable .editable-buttons .editable-submit .glyphicon-ok::before {
  content: "\F12C";
  font-family: "Material Design Icons"; }

.table-editable .editable-buttons .editable-cancel {
  color: #fff;
  background-color: #F06543; }
  .table-editable .editable-buttons .editable-cancel .glyphicon-remove::before {
    content: "\F156";
    font-family: "Material Design Icons"; }

.table-editable .editableform .editable-buttons {
  display: inline-block; }
  .table-editable .editableform .editable-buttons .btn {
    margin: 4px; }

.table-editable tbody td.focus {
  -webkit-box-shadow: inset 0 0 1px 1px #2fa97c !important;
          box-shadow: inset 0 0 1px 1px #2fa97c !important; }

.dt-autofill-list {
  border: none !important;
  background-color: #fff !important; }
  .dt-autofill-list .dt-autofill-question, .dt-autofill-list .dt-autofill-button {
    border-bottom-color: #edeff1 !important; }
  .dt-autofill-list ul li:hover {
    background-color: #edeff1 !important; }

.apex-charts {
  min-height: 10px !important; }
  .apex-charts text {
    font-family: "Nunito", sans-serif !important;
    fill: #adb5bd; }
  .apex-charts .apexcharts-canvas {
    margin: 0 auto; }

.apexcharts-tooltip-title,
.apexcharts-tooltip-text {
  font-family: "Nunito", sans-serif !important; }

.apexcharts-legend-series {
  font-weight: 500; }

.apexcharts-gridline {
  pointer-events: none;
  stroke: #f6f6f6; }

.apexcharts-legend-text {
  color: #adb5bd !important;
  font-family: "Nunito", sans-serif !important;
  font-size: 13px !important; }

.apexcharts-pie-label {
  fill: #fff !important; }

.apexcharts-yaxis text,
.apexcharts-xaxis text {
  font-family: "Nunito", sans-serif !important;
  fill: #adb5bd; }

.apexcharts-radar-series polygon {
  fill: transparent;
  stroke: #e7eaed; }

.apexcharts-radar-series line {
  stroke: #e7eaed; }

.flotTip {
  padding: 8px 12px !important;
  background-color: #343a40 !important;
  border: 1px solid #343a40 !important;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  z-index: 100;
  color: #eff2f7;
  opacity: 1;
  border-radius: 3px !important;
  font-size: 14px !important; }

.legend div {
  background-color: transparent !important; }

.legend tr {
  height: 30px; }

.legendLabel {
  padding-left: 5px;
  line-height: 10px;
  padding-right: 10px;
  font-size: 13px;
  font-weight: 500;
  color: #adb5bd; }

.legendColorBox div {
  border-radius: 3px; }
  .legendColorBox div div {
    border-radius: 3px; }

.float-lable-box table {
  margin: 0 auto; }

@media (max-width: 767.98px) {
  .legendLabel {
    display: none; } }

.jqstooltip {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: auto !important;
  height: auto !important;
  background-color: #343a40 !important;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  padding: 5px 10px !important;
  border-radius: 3px;
  border-color: #212529 !important; }

.jqsfield {
  color: #eff2f7 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  font-family: "Nunito", sans-serif !important;
  font-weight: 500 !important; }

.morris-chart text {
  font-family: "Nunito", sans-serif !important;
  fill: #adb5bd; }

.morris-hover {
  position: absolute;
  z-index: 10; }
  .morris-hover.morris-default-style {
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    padding: 10px 12px;
    background: rgba(248, 249, 250, 0.8);
    color: #343a40;
    border: 2px solid #eff2f7;
    font-family: "Nunito", sans-serif; }
    .morris-hover.morris-default-style .morris-hover-row-label {
      font-weight: bold;
      margin: 0.25em 0;
      font-family: "Nunito", sans-serif; }
    .morris-hover.morris-default-style .morris-hover-point {
      white-space: nowrap;
      margin: 0.1em 0;
      color: #fff; }

.ct-golden-section:before {
  float: none; }

.ct-chart {
  max-height: 300px; }
  .ct-chart .ct-label {
    fill: #adb5bd;
    color: #adb5bd;
    font-size: 12px;
    line-height: 1; }

.ct-chart.simple-pie-chart-chartist .ct-label {
  color: #fff;
  fill: #fff;
  font-size: 16px; }

.ct-grid {
  stroke: rgba(52, 58, 64, 0.1); }

.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice-donut {
  stroke: #2fa97c; }

.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice-donut {
  stroke: #e4cc37; }

.ct-chart .ct-series.ct-series-c .ct-bar,
.ct-chart .ct-series.ct-series-c .ct-line,
.ct-chart .ct-series.ct-series-c .ct-point,
.ct-chart .ct-series.ct-series-c .ct-slice-donut {
  stroke: #00A7E1; }

.ct-chart .ct-series.ct-series-d .ct-bar,
.ct-chart .ct-series.ct-series-d .ct-line,
.ct-chart .ct-series.ct-series-d .ct-point,
.ct-chart .ct-series.ct-series-d .ct-slice-donut {
  stroke: #F06543; }

.ct-chart .ct-series.ct-series-e .ct-bar,
.ct-chart .ct-series.ct-series-e .ct-line,
.ct-chart .ct-series.ct-series-e .ct-point,
.ct-chart .ct-series.ct-series-e .ct-slice-donut {
  stroke: #3051D3; }

.ct-chart .ct-series.ct-series-f .ct-bar,
.ct-chart .ct-series.ct-series-f .ct-line,
.ct-chart .ct-series.ct-series-f .ct-point,
.ct-chart .ct-series.ct-series-f .ct-slice-donut {
  stroke: #343a40; }

.ct-chart .ct-series.ct-series-g .ct-bar,
.ct-chart .ct-series.ct-series-g .ct-line,
.ct-chart .ct-series.ct-series-g .ct-point,
.ct-chart .ct-series.ct-series-g .ct-slice-donut {
  stroke: #6f42c1; }

.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
  fill: #2fa97c; }

.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
  fill: #3051D3; }

.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
  fill: #e4cc37; }

.ct-series-d .ct-area,
.ct-series-d .ct-slice-pie {
  fill: #3051D3; }

.ct-area {
  fill-opacity: .33; }

.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 10px;
  padding: 2px 10px;
  border-radius: 3px;
  background: #343a40;
  color: #edeff1;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear; }
  .chartist-tooltip.tooltip-show {
    opacity: 1; }

.ct-line {
  stroke-width: 3px; }

.ct-point {
  stroke-width: 7px; }

/* 14. Authentication */
.bg-pattern {
  background-image: url("../images/bg-pattern.png");
  background-size: cover;
  background-position: center; }

.home-btn {
  position: absolute;
  top: 15px;
  right: 25px; }

.form-group-custom {
  position: relative; }
  .form-group-custom label {
    position: absolute;
    top: 8px;
    padding: 4px 16px;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
  .form-group-custom .form-control {
    height: 45px; }
    .form-group-custom .form-control:focus + label, .form-group-custom .form-control:valid + label {
      -webkit-transform: translate(-0.75em, -96%) scale(0.8);
              transform: translate(-0.75em, -96%) scale(0.8);
      color: #2fa97c; }

/* 15. Email */
/* ==============
  Email
===================*/
.mail-list a {
  display: block;
  color: #7c8a96;
  line-height: 24px;
  padding: 6px 5px; }
  .mail-list a.active {
    color: #F06543;
    font-weight: 500; }
  .mail-list a i {
    font-size: 18px; }

.chat-user-box p.user-title {
  color: #343a40;
  font-weight: 500; }

.chat-user-box p {
  font-size: 13px; }

.message-list {
  display: block;
  padding-left: 0; }
  .message-list li {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    cursor: default;
    -webkit-transition-duration: .3s;
            transition-duration: .3s; }
    .message-list li a {
      color: #7c8a96; }
    .message-list li:hover {
      background: #edeff1;
      -webkit-transition-duration: .05s;
              transition-duration: .05s; }
    .message-list li .col-mail {
      float: left;
      position: relative; }
    .message-list li .col-mail-1 {
      width: 320px; }
      .message-list li .col-mail-1 .star-toggle,
      .message-list li .col-mail-1 .checkbox-wrapper-mail,
      .message-list li .col-mail-1 .dot {
        display: block;
        float: left; }
      .message-list li .col-mail-1 .dot {
        border: 4px solid transparent;
        border-radius: 100px;
        margin: 22px 26px 0;
        height: 0;
        width: 0;
        line-height: 0;
        font-size: 0; }
      .message-list li .col-mail-1 .checkbox-wrapper-mail {
        margin: 15px 10px 0 20px; }
      .message-list li .col-mail-1 .star-toggle {
        margin-top: 18px;
        margin-left: 5px; }
      .message-list li .col-mail-1 .title {
        position: absolute;
        top: 0;
        left: 110px;
        right: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 0; }
    .message-list li .col-mail-2 {
      position: absolute;
      top: 0;
      left: 320px;
      right: 0;
      bottom: 0; }
      .message-list li .col-mail-2 .subject,
      .message-list li .col-mail-2 .date {
        position: absolute;
        top: 0; }
      .message-list li .col-mail-2 .subject {
        left: 0;
        right: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
      .message-list li .col-mail-2 .date {
        right: 0;
        width: 170px;
        padding-left: 80px; }
    .message-list li.active, .message-list li.active:hover {
      -webkit-box-shadow: inset 3px 0 0 #2fa97c;
              box-shadow: inset 3px 0 0 #2fa97c; }
    .message-list li.unread {
      background-color: #edeff1;
      font-weight: 500;
      color: #292d32; }
      .message-list li.unread a {
        color: #292d32;
        font-weight: 500; }
  .message-list .checkbox-wrapper-mail {
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
    -webkit-box-shadow: inset 0 0 0 1px #ced4da;
            box-shadow: inset 0 0 0 1px #ced4da;
    border-radius: 1px; }
    .message-list .checkbox-wrapper-mail input {
      opacity: 0;
      cursor: pointer; }
    .message-list .checkbox-wrapper-mail input:checked ~ label {
      opacity: 1; }
    .message-list .checkbox-wrapper-mail label {
      position: absolute;
      height: 20px;
      width: 20px;
      left: 0;
      cursor: pointer;
      opacity: 0;
      margin-bottom: 0;
      -webkit-transition-duration: .05s;
              transition-duration: .05s;
      top: 0; }
      .message-list .checkbox-wrapper-mail label:before {
        content: "\F12C";
        font-family: "Material Design Icons";
        top: 0;
        height: 20px;
        color: #292d32;
        width: 20px;
        position: absolute;
        margin-top: -16px;
        left: 4px;
        font-size: 13px; }

@media (max-width: 575.98px) {
  .message-list li .col-mail-1 {
    width: 200px; } }

/* 16. Coming Soon */
.counter-number {
  font-size: 32px;
  font-weight: 600;
  text-align: center; }
  .counter-number span {
    font-size: 16px;
    display: block;
    padding-top: 7px; }

.coming-box {
  float: left;
  width: 21%;
  padding: 14px 7px;
  margin: 0px 12px 24px 12px;
  background-color: #fff;
  border-radius: calc(0.25rem - 0px);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); }

@media (max-width: 991.98px) {
  .coming-box {
    width: 40%; } }

/* 17. Timeline */
/************** vertical timeline **************/
.timeline {
  position: relative;
  margin-bottom: 30px; }
  .timeline:before {
    content: "";
    position: absolute;
    width: 2px;
    top: 30px;
    left: 0;
    bottom: 0;
    background-color: #e2e5e8; }
  .timeline .timeline-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .timeline .timeline-block {
    width: 100%; }
  .timeline .time-show-btn {
    margin-bottom: 30px; }
  .timeline .timeline-box {
    margin: 20px 0;
    position: relative; }
  .timeline .timeline-icon {
    display: none; }

@media (min-width: 768px) {
  .timeline .timeline-block {
    width: 50%; }
  .timeline:before {
    left: 50%; }
  .timeline .time-show-btn {
    position: relative;
    left: 67px;
    text-align: right; }
  .timeline .timeline-icon {
    display: block;
    position: absolute;
    left: -60px; }
    .timeline .timeline-icon:after {
      content: "";
      position: absolute;
      width: 45px;
      height: 3px;
      background-color: rgba(47, 169, 124, 0.2);
      top: 14px;
      left: 40px; }
  .timeline-item::before {
    content: "";
    display: block;
    width: 50%; }
  .timeline-item.timeline-left {
    text-align: right; }
    .timeline-item.timeline-left::after {
      content: "";
      display: block;
      width: 50%; }
    .timeline-item.timeline-left::before {
      display: none; }
  .timeline-item .timeline-box {
    margin-left: 45px; }
  .timeline-item.timeline-left .timeline-box {
    margin-left: 0;
    margin-right: 45px; }
  .timeline-item.timeline-left .timeline-icon {
    right: -64px;
    left: auto; }
    .timeline-item.timeline-left .timeline-icon:after {
      right: 40px;
      left: auto; } }

/* 18. Extra Pages */
.gallery-categories-filter li {
  list-style: none;
  display: inline-block; }
  .gallery-categories-filter li a {
    display: block;
    color: #2fa97c !important;
    background-color: rgba(47, 169, 124, 0.1);
    border: 1px solid rgba(47, 169, 124, 0.1);
    padding: 0px 15px;
    margin: 5px 3px;
    cursor: pointer;
    line-height: 34px;
    border-radius: 4px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
    .gallery-categories-filter li a.active {
      background-color: #2fa97c;
      border-color: #2fa97c;
      color: #fff !important; }

.gallery-box {
  position: relative;
  border-radius: 7px;
  overflow: hidden; }
  .gallery-box a .gallery-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #2fa97c;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .gallery-box a .overlay-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding: 14px;
    margin: 0px 12px;
    border-radius: 4px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7); }
    .gallery-box a .overlay-content .overlay-title {
      color: #fff; }
  .gallery-box a .gallery-overlay-icon {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-85%);
            transform: translateY(-85%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .gallery-box a .gallery-overlay-icon i {
      font-size: 28px; }
  .gallery-box a:hover .gallery-overlay {
    opacity: 0.7; }
  .gallery-box a:hover .overlay-content {
    bottom: 0px; }

.arrow-shape {
  position: relative; }
  .arrow-shape:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 100%;
    background-color: #F06543;
    right: -22px;
    top: 0;
    -webkit-clip-path: polygon(0% 0%, 40% 0%, 100% 50%, 40% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 40% 0%, 100% 50%, 40% 100%, 0% 100%); }
